.popular__slide {
    margin-bottom: 5rem;
    position: relative;
}
.popular__slide ul {
    display: flex;
    justify-content: space-between;
    column-gap: 2.5rem;
    flex-wrap: nowrap;
    overflow: hidden;
}
.popular__slide__item {
    width: 31.8%;
    border: 1px solid #d9d9d9;
    border-radius: 10px;
    flex-shrink: 0;
    flex-grow: 0;
}
.popular__slide__item a {
    padding: 1rem;
}
.popular__slide__item__heading {
    display: flex;
    align-items: center;
}
.popular__slide__item__heading img {
    border-radius: 10px;
}
.popular__slide__item__heading  h3 {
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 2.6rem;
    color: black;
    padding-left: 1rem;
}
.border {
    border: 1px solid #d9d9d9;
    margin: 1rem;
}
.popular__slide__item__info p {
    font-size: 1.6rem;
    font-weight: 500;
    color: black;
    padding-top: 1rem;
}
.popular__slide i {
    display: inline-block;
    background-color: white;
    border-radius: 50%;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) ;
    top: 50%;
    position: absolute;
    transform: translateY(-50%);
    font-size: 1.4rem;
    width: 4rem;
    height: 4rem;
    line-height: 4rem;
    cursor: pointer;
    text-align: center;
}
.popular__slide__prev {
    left: -2rem;
}
.popular__slide__next {
    right: -2rem;
}
