:root {
    --container: 115rem;
    --text-color: #212121;
    --gray-color: #757575;
    --text-time: #877457;
    --btn-color: #008294;
    --btn-hover: #0098ae;
}

*,
*::before, 
*::after {
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    font-family: 'Poppins';
    font-weight: 400;
    color: varr(--text-color);
}
img {
    display: block;
    max-width: 100%;
}
a {
    display: block;
    text-decoration: none;
}
.wrapper {
    margin-left:  auto;
    margin-right: auto;
    overflow: hidden;
}
.container {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    margin-left: auto;
    margin-right: auto;
    max-width: var(--container);
    
}
svg {
    display: block;
    vertical-align: middle;
}